@font-face {
  font-family: 'helvetica';
  src: url("./HelveticaReg.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'helvetica';
  src: url("./helveticabold.woff2") format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: 'helvetica' , sans-serif;
}